 .u-section-1 {
  background-image: url("images/gac382c518d9b7553e7f79b2a1b6a835ef695f7076c5ef59b6ff093f282ce5937977e1d99ac622e63ea3a5aa4d01fec121c77742085650cabfa88ecb2748400e8_1280.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 853px;
}

.u-section-1 .u-group-1 {
  min-height: 352px;
  width: 598px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  height: auto;
  margin: 241px auto 60px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-size: 4.5rem;
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: none;
  margin: 20px 1px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.125rem;
  letter-spacing: 1px;
  margin: 19px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 703px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 538px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 514px;
  }

  .u-section-1 .u-group-1 {
    min-height: 332px;
    width: 456px;
  }

  .u-section-1 .u-text-2 {
    font-size: 3.4375rem;
    width: auto;
    margin-top: 22px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-top: 18px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 450px;
  }

  .u-section-1 .u-group-1 {
    min-height: 267px;
    width: 280px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: linear-gradient(#fde8ee, #b2c8f3);
}

.u-section-2 .u-sheet-1 {
  min-height: 733px;
}

.u-section-2 .u-group-1 {
  width: 507px;
  min-height: 659px;
  margin: 20px auto 0 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 40px 0;
}

.u-section-2 .u-text-1 {
  font-size: 3.75rem;
  letter-spacing: normal;
  font-weight: 700;
  margin: 75px 20px 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.5rem;
  font-style: normal;
  margin: 31px 0 0 8px;
}

.u-section-2 .u-layout-wrap-1 {
  width: 605px;
  margin: -634px 0 60px auto;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 411px;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: 5px 5px 30px 0px rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-2 .u-icon-1 {
  height: 62px;
  width: 62px;
  background-image: none;
  margin: 0 auto;
}

.u-section-2 .u-text-3 {
  font-style: italic;
  margin: 25px 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 411px;
}

.u-section-2 .u-container-layout-3 {
  box-shadow: 5px 5px 30px 0 rgba(0,0,0,0.2);
  padding: 30px 9px 11px;
}

.u-section-2 .u-icon-2 {
  height: 62px;
  width: 62px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto;
}

.u-section-2 .u-text-4 {
  text-transform: none;
  letter-spacing: normal;
  font-size: 1.875rem;
  margin: 20px 0 0;
}

.u-section-2 .u-text-5 {
  font-style: italic;
  margin: 20px 21px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 923px;
  }

  .u-section-2 .u-group-1 {
    width: 358px;
    min-height: 665px;
  }

  .u-section-2 .u-text-1 {
    font-size: 3.4375rem;
  }

  .u-section-2 .u-layout-wrap-1 {
    width: 565px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 443px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-icon-1 {
    color: rgb(17, 17, 17) !important;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 377px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5625rem;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1344px;
  }

  .u-section-2 .u-group-1 {
    min-height: 394px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 0;
    padding-right: 30px;
    padding-bottom: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 438px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 372px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1604px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-2 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1355px;
  }

  .u-section-2 .u-group-1 {
    margin-top: 714px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: -977px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 273px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 814px;
}

.u-section-3 .u-shape-1 {
  height: 732px;
  margin-top: 70px;
  margin-bottom: 0;
  background-image: linear-gradient(#fde8ee, #b2c8f3);
}

.u-section-3 .u-text-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 3.75rem;
  margin: -665px auto 0;
}

.u-section-3 .u-list-1 {
  width: 1033px;
  margin: 48px auto 51px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: repeat(3, calc(33.3333% - 22px));
  min-height: 465px;
  grid-gap: 33px;
}

.u-section-3 .u-list-item-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 25px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-1 {
  width: 147px;
  height: 147px;
  background-image: url("images/e3b55b633a96ca70422c1ed532ec4775.png");
  background-position: 50% 50%;
  margin: 87px auto 0 0;
}

.u-section-3 .u-text-3 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 12px auto 0 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-2 {
  padding: 30px 25px;
}

.u-section-3 .u-text-5 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-2 {
  width: 147px;
  height: 147px;
  background-image: url("images/0fc947bed602e82e1ef6dee3dc741d86.png");
  background-position: 50% 50%;
  margin: 87px auto 0 0;
}

.u-section-3 .u-text-6 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  margin: 12px auto 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px 25px;
}

.u-section-3 .u-text-8 {
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-image-3 {
  width: 147px;
  height: 147px;
  background-image: url("images/0f9f75fd7f349bae7881b2a458791713_150.png");
  background-position: 50% 50%;
  margin: 87px auto 0 0;
}

.u-section-3 .u-text-9 {
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-10 {
  margin: 12px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-3 .u-list-1 {
    width: 876px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 535px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1434px;
  }

  .u-section-3 .u-shape-1 {
    margin-top: 69px;
  }

  .u-section-3 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-3 .u-list-1 {
    width: 640px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    min-height: 1069px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1787px;
  }

  .u-section-3 .u-shape-1 {
    height: 899px;
    margin-top: 60px;
  }

  .u-section-3 .u-text-1 {
    font-size: 2.25rem;
    margin-top: -832px;
  }

  .u-section-3 .u-list-1 {
    width: 442px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1479px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1915px;
  }

  .u-section-3 .u-shape-1 {
    height: 1805px;
    margin-top: 55px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -1759px;
    margin-left: 32px;
    margin-right: 32px;
  }

  .u-section-3 .u-list-1 {
    width: 276px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 1575px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 706px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 586px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px 10px;
}

.u-section-4 .u-text-1 {
  font-weight: 700;
  text-transform: none;
  letter-spacing: normal;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 586px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-4 .u-text-2 {
  line-height: 2;
  font-size: 1.25rem;
  font-style: normal;
  margin: 34px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 586px;
  background-image: linear-gradient(#fde8ee, #b2c8f3);
}

.u-section-4 .u-container-layout-3 {
  padding: 30px;
}

.u-section-4 .u-text-3 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 603px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 483px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 483px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 483px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 8px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
}